@import url("https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');

/* Background  */
body {
  background: radial-gradient(circle, rgba(57,193,232,1) 0%, rgba(130,102,231,1) 13%, rgba(255,139,36,1) 52%);
  background-position: center;
  background-size: 300%;
  animation: bgMov 60s infinite linear;
  overflow: hidden;
}

.containter {
  width: 100%;
  background: transparent;
}

@keyframes bgMov {
  0% { background-size: 350%; }
  50% { background-size: 100%;}
  100% { background-size: 350%; }
}

/* Controle do Git Hub e Linkeind */

.invertFilter:hover {
  filter: invert();
}

.invertFilter:hover > div {
  animation: showDown 500ms;
  animation-fill-mode: forwards;
}

.invertFilter > div {
  animation: hideUp 800ms;
  position: relative;
  opacity: 0;
}

@keyframes showDown {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(70px);
    opacity: 1;
  }
}

@keyframes hideUp {
  0% {
    transform: translateY(70px);
    opacity: 1;
  }
  100% {
    transform: translateY(50px);
    opacity: 0;
  }
}

.github > img, .linkedIn > img{
    width: 50px;
}

/* Cards */

.cardBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  box-shadow: 2px 3px 2px 4px rgba(0,3,64,0.4);
  background-color: rgba(250, 235, 215,0.7);
}

.card {
  margin: 15px;
  padding: 20px;
  max-width: 380px;
  height: 380px;
  background-color: #ffffff;
  border: 1px solid black;
  box-shadow: 1px 1px 3px 1px gray;
  transition: all ease-in-out 1s;
  text-align: center;
}

.card:first-of-type h2 {
  color: #ffffff;
  opacity: 0;
  transition: inherit;
}

.card:first-of-type:hover h2 {
  transform: translateY(-20px);
  opacity: 1;
}

.card:first-of-type p {
  color: #ffffff;
  opacity: 0;
  transition: inherit;
  font-size: 18px;
  text-shadow: 2px 2px 10px black;
}

.card:first-of-type:hover p {
  transform: translateY(10px);
  opacity: 1;
}

.card:first-of-type {
  background-image: url("blockCity.jpg");
  background-size: contain;
}

.card:first-of-type:hover {
  filter: sepia();
}

.card:last-of-type {
  background-image: url("cityNight.jpg");
  background-size: cover;
  overflow: hidden;
}

.card:last-of-type > img{
  width: 160px;
  position: relative;
  left: -160px;
  bottom: -295px;
  animation: mvCar 3s linear infinite;
  animation-play-state: paused;
  filter: grayscale(50%) blur(1px) drop-shadow(2px 10px 20px red) drop-shadow(140px 1px 60px yellow);
}

.card:last-of-type:hover > img {
  animation-play-state: running;
}

.greetings {
  background: linear-gradient(#c1dfc4, #deecdd);
}

@keyframes mvCar {
  0% {
    transform: translateX(-300px);
  }
  100% {
    transform: translateX(calc(160px + 80px + 380px));
  }
}


.card:last-of-type:hover {
  transform: rotateZ(4deg);
  background-position: center;
}

/* Outros */

.floatingMenu {
  height: 12vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.cardBoxWrapper {
  margin: auto;
  width: -moz-fit-content;
  width: fit-content;
  max-height: 80vh;
  overflow-y: scroll;
  border: 1px solid black;
}

.lookingForJob {
    position: absolute;
    font-family: 'Caveat', cursive;
    bottom: 42px;
    right: 20px;
    width: 46vw;
    background-image: linear-gradient(135deg, rgba(252,252,252,1) 2%, rgba(238,238,238,1) 41%, rgba(221,221,221,1) 66%);
    background-size: 200% 200%;
    border: 2px solid rgb(240,240,240);
    border-radius: 10px;
    color: black;
}

.lookingForJob > p {
    text-align: center;
    font-size: 42px;
    margin: 0;
    padding: 0;
}

footer {
  position: absolute;
  display: flex;
  align-items: flex-start;
  bottom: 0px;
  left: 0px;
  width: 100vw;
  height: 50px;
  background-color: black;
  color: #ffffff;
  gap: 10px;
}

/* Controle do Letreiro */

.helloWorld {
  position: absolute;
  font-family: "Rubik Moonrocks", cursive;
  bottom: 10px;
  right: 10px;
  animation-duration: inherit;
  font-size: inherit;
  animation-name: movingLetters;
  transition: all linear;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#cheesy:checked ~ .cheesyText {
  animation-duration: 10s;
  font-size: 10px;
}

.lt1 {
  animation-delay: 0ms;
}

.lt2 {
  animation-delay: 70ms;
}

.lt3 {
  animation-delay: 130ms;
}

.lt4 {
  animation-delay: 250ms;
}

.lt5 {
  animation-delay: 330ms;
}

.lt6 {
  animation-delay: 380ms;
}

.lt7 {
  animation-delay: 480ms;
}

.lt8 {
  animation-delay: 550ms;
}

.lt9 {
  animation-delay: 620ms;
}

.lt10 {
  animation-delay: 660ms;
}

.lt11 {
  animation-delay: 730ms;
}

.lt12 {
  animation-delay: 800ms;
}

@keyframes movingLetters {
  0% {
    transform: translateX(130px) rotateX(90deg) rotateZ(0deg);
    color: red;
  }
  10% {
    transform: translateX(-10vw) translateY(0px) rotateX(45deg) rotateZ(25deg);
    color: green;
  }
  20% {
    transform: translateX(-20vw) translateY(-10px) rotateX(30deg) rotateZ(0deg);
    color: blue;
  }
  30% {
    transform: translateX(-30vw) translateY(-20px) rotateX(20deg) rotateZ(-25deg);
    color: red;
  }
  40% {
    transform: translateX(-40vw) translateY(0px) rotateX(10deg) rotateZ(0deg);
    color: green;
  }
  50% {
    transform: translateX(-50vw) translateY(14px) rotateX(0deg) translateY(0px) rotateZ(25deg);
    color: blue;
  }
  60% {
    transform: translateX(-60vw) translateY(0px) rotateX(10deg) rotateZ(0deg);
    color: red;
  }
  70% {
    transform: translateX(-70vw) translateY(-20px) rotateX(20deg) rotateZ(-25deg);
    color: green;
  }
  80% {
    transform: translateX(-80vw) translateY(-10px) rotateX(30deg) rotateZ(0deg);
    color: blue;
  }
  90% {
    transform: translateX(-90vw) translateY(0px) rotateX(45deg) rotateZ(25deg);
    color: red;
  }
  100% {
    transform: translateX(-100vw) rotateX(90deg) rotateZ(0deg);
    color: green;
  }
}

/* Walking Guy Controls */

.running > img {
  opacity: 0;
  position: absolute;
  width: 40px;
  bottom: 42px;
  left: 0px;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#walker:checked ~ .running > #right1 {
    animation-name: movRight;
}

#walker:checked ~ .running > #right2 {
    animation-name: movRight2;
}

#walker:checked ~ .running > #right3 {
  animation-name: movStandRight;
}

#walker:checked ~ .running > #left1 {
    animation-name: movLeft1;
}

#walker:checked ~ .running > #left2 {
    animation-name: movLeft2;
}

#walker:checked ~ .running > #left3 {
    animation-name: movStandLeft;
}

#walker:checked ~ .running > #down3 {
    animation-name: turnSide;
}

@keyframes movStandRight {
  0% { transform: translateX(2vw);opacity: 0; }
 
  1%{ transform: translateX(2vw); opacity: 0;} 2%{ transform: translateX(3vw); opacity: 1;} 3%{ transform: translateX(4vw); opacity: 0;} 4%{ transform: translateX(5vw); opacity: 1;} 5%{ transform: translateX(6vw); opacity: 0;} 6%{ transform: translateX(7vw); opacity: 1;} 7%{ transform: translateX(8vw); opacity: 0;} 8%{ transform: translateX(9vw); opacity: 1;} 9%{ transform: translateX(10vw); opacity: 0;} 10%{ transform: translateX(11vw); opacity: 1;} 11%{ transform: translateX(12vw); opacity: 0;} 12%{ transform: translateX(13vw); opacity: 1;} 13%{ transform: translateX(14vw); opacity: 0;} 14%{ transform: translateX(15vw); opacity: 1;} 15%{ transform: translateX(16vw); opacity: 0;} 16%{ transform: translateX(17vw); opacity: 1;} 17%{ transform: translateX(18vw); opacity: 0;} 18%{ transform: translateX(19vw); opacity: 1;} 19%{ transform: translateX(20vw); opacity: 0;} 20%{ transform: translateX(21vw); opacity: 1;} 21%{ transform: translateX(22vw); opacity: 0;} 22%{ transform: translateX(23vw); opacity: 1;} 23%{ transform: translateX(24vw); opacity: 0;} 24%{ transform: translateX(25vw); opacity: 1;} 25%{ transform: translateX(26vw); opacity: 0;} 26%{ transform: translateX(27vw); opacity: 1;} 27%{ transform: translateX(28vw); opacity: 0;} 28%{ transform: translateX(29vw); opacity: 1;} 29%{ transform: translateX(30vw); opacity: 0;} 30%{ transform: translateX(31vw); opacity: 1;} 31%{ transform: translateX(32vw); opacity: 0;} 32%{ transform: translateX(33vw); opacity: 1;} 33%{ transform: translateX(34vw); opacity: 0;} 34%{ transform: translateX(35vw); opacity: 1;} 35%{ transform: translateX(36vw); opacity: 0;} 36%{ transform: translateX(37vw); opacity: 1;} 37%{ transform: translateX(38vw); opacity: 0;} 38%{ transform: translateX(39vw); opacity: 1;} 39%{ transform: translateX(40vw); opacity: 0;} 40%{ transform: translateX(41vw); opacity: 1;} 41%{ transform: translateX(42vw); opacity: 0;} 42%{ transform: translateX(43vw); opacity: 1;} 43%{ transform: translateX(44vw); opacity: 0;} 44%{ transform: translateX(45vw); opacity: 1;} 45%{ transform: translateX(46vw); opacity: 0;} 46%{ transform: translateX(47vw); opacity: 1;} 47%{ transform: translateX(48vw); opacity: 0;} 48%{ transform: translateX(49vw); opacity: 1;} 49%{ transform: translateX(50vw); opacity: 0;}
  
  50% { transform: translateX(50vw); opacity: 0; }
  100% { transform: translateX(2vw); opacity: 0; }
}

@keyframes movRight {
    0% { transform: translateX(2vw); opacity: 0; }
    
    1%{ transform: translateX(2vw); opacity: 1;} 2%{ transform: translateX(3vw); opacity: 0;} 3%{ transform: translateX(4vw); opacity: 0;} 4%{ transform: translateX(5vw); opacity: 0;} 5%{ transform: translateX(6vw); opacity: 1;} 6%{ transform: translateX(7vw); opacity: 0;} 7%{ transform: translateX(8vw); opacity: 0;} 8%{ transform: translateX(9vw); opacity: 0;} 9%{ transform: translateX(10vw); opacity: 1;} 10%{ transform: translateX(11vw); opacity: 0;} 11%{ transform: translateX(12vw); opacity: 0;} 12%{ transform: translateX(13vw); opacity: 0;} 13%{ transform: translateX(14vw); opacity: 1;} 14%{ transform: translateX(15vw); opacity: 0;} 15%{ transform: translateX(16vw); opacity: 0;} 16%{ transform: translateX(17vw); opacity: 0;} 17%{ transform: translateX(18vw); opacity: 1;} 18%{ transform: translateX(19vw); opacity: 0;} 19%{ transform: translateX(20vw); opacity: 0;} 20%{ transform: translateX(21vw); opacity: 0;} 21%{ transform: translateX(22vw); opacity: 1;} 22%{ transform: translateX(23vw); opacity: 0;} 23%{ transform: translateX(24vw); opacity: 0;} 24%{ transform: translateX(25vw); opacity: 0;} 25%{ transform: translateX(26vw); opacity: 1;} 26%{ transform: translateX(27vw); opacity: 0;} 27%{ transform: translateX(28vw); opacity: 0;} 28%{ transform: translateX(29vw); opacity: 0;} 29%{ transform: translateX(30vw); opacity: 1;} 30%{ transform: translateX(31vw); opacity: 0;} 31%{ transform: translateX(32vw); opacity: 0;} 32%{ transform: translateX(33vw); opacity: 0;} 33%{ transform: translateX(34vw); opacity: 1;} 34%{ transform: translateX(35vw); opacity: 0;} 35%{ transform: translateX(36vw); opacity: 0;} 36%{ transform: translateX(37vw); opacity: 0;} 37%{ transform: translateX(38vw); opacity: 1;} 38%{ transform: translateX(39vw); opacity: 0;} 39%{ transform: translateX(40vw); opacity: 0;} 40%{ transform: translateX(41vw); opacity: 0;} 41%{ transform: translateX(42vw); opacity: 1;} 42%{ transform: translateX(43vw); opacity: 0;} 43%{ transform: translateX(44vw); opacity: 0;} 44%{ transform: translateX(45vw); opacity: 0;} 45%{ transform: translateX(46vw); opacity: 1;} 46%{ transform: translateX(47vw); opacity: 0;} 47%{ transform: translateX(48vw); opacity: 0;} 48%{ transform: translateX(49vw); opacity: 0;} 49%{ transform: translateX(50vw); opacity: 1;}
    
    50% { transform: translateX(50vw); opacity: 0; }
    100% { transform: translateX(2vw); opacity: 0; }
}

@keyframes movRight2 {
    0% { transform: translateX(2vw); opacity: 0; }

    1%{ transform: translateX(2vw); opacity: 0;} 2%{ transform: translateX(3vw); opacity: 0;} 3%{ transform: translateX(4vw); opacity: 1;} 4%{ transform: translateX(5vw); opacity: 0;} 5%{ transform: translateX(6vw); opacity: 0;} 6%{ transform: translateX(7vw); opacity: 0;} 7%{ transform: translateX(8vw); opacity: 1;} 8%{ transform: translateX(9vw); opacity: 0;} 9%{ transform: translateX(10vw); opacity: 0;} 10%{ transform: translateX(11vw); opacity: 0;} 11%{ transform: translateX(12vw); opacity: 1;} 12%{ transform: translateX(13vw); opacity: 0;} 13%{ transform: translateX(14vw); opacity: 0;} 14%{ transform: translateX(15vw); opacity: 0;} 15%{ transform: translateX(16vw); opacity: 1;} 16%{ transform: translateX(17vw); opacity: 0;} 17%{ transform: translateX(18vw); opacity: 0;} 18%{ transform: translateX(19vw); opacity: 0;} 19%{ transform: translateX(20vw); opacity: 1;} 20%{ transform: translateX(21vw); opacity: 0;} 21%{ transform: translateX(22vw); opacity: 0;} 22%{ transform: translateX(23vw); opacity: 0;} 23%{ transform: translateX(24vw); opacity: 1;} 24%{ transform: translateX(25vw); opacity: 0;} 25%{ transform: translateX(26vw); opacity: 0;} 26%{ transform: translateX(27vw); opacity: 0;} 27%{ transform: translateX(28vw); opacity: 1;} 28%{ transform: translateX(29vw); opacity: 0;} 29%{ transform: translateX(30vw); opacity: 0;} 30%{ transform: translateX(31vw); opacity: 0;} 31%{ transform: translateX(32vw); opacity: 1;} 32%{ transform: translateX(33vw); opacity: 0;} 33%{ transform: translateX(34vw); opacity: 0;} 34%{ transform: translateX(35vw); opacity: 0;} 35%{ transform: translateX(36vw); opacity: 1;} 36%{ transform: translateX(37vw); opacity: 0;} 37%{ transform: translateX(38vw); opacity: 0;} 38%{ transform: translateX(39vw); opacity: 0;} 39%{ transform: translateX(40vw); opacity: 1;} 40%{ transform: translateX(41vw); opacity: 0;} 41%{ transform: translateX(42vw); opacity: 0;} 42%{ transform: translateX(43vw); opacity: 0;} 43%{ transform: translateX(44vw); opacity: 1;} 44%{ transform: translateX(45vw); opacity: 0;} 45%{ transform: translateX(46vw); opacity: 0;} 46%{ transform: translateX(47vw); opacity: 0;} 47%{ transform: translateX(48vw); opacity: 1;} 48%{ transform: translateX(49vw); opacity: 0;} 49%{ transform: translateX(50vw); opacity: 0;}

    50% { transform: translateX(50vw); opacity: 0; }
    100% { transform: translateX(2vw); opacity: 0; }
}

@keyframes movStandLeft {
    0% { transform: translateX(2vw);opacity: 0; }
    50% { transform: translateX(50vw);opacity: 0; }

    51% { transform: translateX(50vw); opacity: 0;} 52%{ transform: translateX(49vw); opacity: 1;} 53%{ transform: translateX(48vw); opacity: 0;} 54%{ transform: translateX(47vw); opacity: 1;} 55%{ transform: translateX(46vw); opacity: 0;} 56%{ transform: translateX(45vw); opacity: 1;} 57%{ transform: translateX(44vw); opacity: 0;} 58%{ transform: translateX(43vw); opacity: 1;} 59%{ transform: translateX(42vw); opacity: 0;} 60%{ transform: translateX(41vw); opacity: 1;} 61%{ transform: translateX(40vw); opacity: 0;} 62%{ transform: translateX(39vw); opacity: 1;} 63%{ transform: translateX(38vw); opacity: 0;} 64%{ transform: translateX(37vw); opacity: 1;} 65%{ transform: translateX(36vw); opacity: 0;} 66%{ transform: translateX(35vw); opacity: 1;} 67%{ transform: translateX(34vw); opacity: 0;} 68%{ transform: translateX(33vw); opacity: 1;} 69%{ transform: translateX(32vw); opacity: 0;} 70%{ transform: translateX(31vw); opacity: 1;} 71%{ transform: translateX(30vw); opacity: 0;} 72%{ transform: translateX(29vw); opacity: 1;} 73%{ transform: translateX(28vw); opacity: 0;} 74%{ transform: translateX(27vw); opacity: 1;} 75%{ transform: translateX(26vw); opacity: 0;} 76%{ transform: translateX(25vw); opacity: 1;} 77%{ transform: translateX(24vw); opacity: 0;} 78%{ transform: translateX(23vw); opacity: 1;} 79%{ transform: translateX(22vw); opacity: 0;} 80%{ transform: translateX(21vw); opacity: 1;} 81%{ transform: translateX(20vw); opacity: 0;} 82%{ transform: translateX(19vw); opacity: 1;} 83%{ transform: translateX(18vw); opacity: 0;} 84%{ transform: translateX(17vw); opacity: 1;} 85%{ transform: translateX(16vw); opacity: 0;} 86%{ transform: translateX(15vw); opacity: 1;} 87%{ transform: translateX(14vw); opacity: 0;} 88%{ transform: translateX(13vw); opacity: 1;} 89%{ transform: translateX(12vw); opacity: 0;} 90%{ transform: translateX(11vw); opacity: 1;} 91%{ transform: translateX(10vw); opacity: 0;} 92%{ transform: translateX(9vw); opacity: 1;} 93%{ transform: translateX(8vw); opacity: 0;} 94%{ transform: translateX(7vw); opacity: 1;} 95%{ transform: translateX(6vw); opacity: 0;} 96%{ transform: translateX(5vw); opacity: 1;} 97%{ transform: translateX(4vw); opacity: 0;} 98%{ transform: translateX(3vw); opacity: 1;} 99%{ transform: translateX(2vw); opacity: 0;} 
    
    100% { transform: translateX(2vw); opacity: 0; }
}

@keyframes movLeft1 {
    0% { transform: translateX(2vw);opacity: 0; }
    50% { transform: translateX(50vw);opacity: 0; }

    51%{ transform: translateX(50vw); opacity: 0;} 52%{ transform: translateX(49vw); opacity: 0;} 53%{ transform: translateX(48vw); opacity: 1;} 54%{ transform: translateX(47vw); opacity: 0;} 55%{ transform: translateX(46vw); opacity: 0;} 56%{ transform: translateX(45vw); opacity: 0;} 57%{ transform: translateX(44vw); opacity: 1;} 58%{ transform: translateX(43vw); opacity: 0;} 59%{ transform: translateX(42vw); opacity: 0;} 60%{ transform: translateX(41vw); opacity: 0;} 61%{ transform: translateX(40vw); opacity: 1;} 62%{ transform: translateX(39vw); opacity: 0;} 63%{ transform: translateX(38vw); opacity: 0;} 64%{ transform: translateX(37vw); opacity: 0;} 65%{ transform: translateX(36vw); opacity: 1;} 66%{ transform: translateX(35vw); opacity: 0;} 67%{ transform: translateX(34vw); opacity: 0;} 68%{ transform: translateX(33vw); opacity: 0;} 69%{ transform: translateX(32vw); opacity: 1;} 70%{ transform: translateX(31vw); opacity: 0;} 71%{ transform: translateX(30vw); opacity: 0;} 72%{ transform: translateX(29vw); opacity: 0;} 73%{ transform: translateX(28vw); opacity: 1;} 74%{ transform: translateX(27vw); opacity: 0;} 75%{ transform: translateX(26vw); opacity: 0;} 76%{ transform: translateX(25vw); opacity: 0;} 77%{ transform: translateX(24vw); opacity: 1;} 78%{ transform: translateX(23vw); opacity: 0;} 79%{ transform: translateX(22vw); opacity: 0;} 80%{ transform: translateX(21vw); opacity: 0;} 81%{ transform: translateX(20vw); opacity: 1;} 82%{ transform: translateX(19vw); opacity: 0;} 83%{ transform: translateX(18vw); opacity: 0;} 84%{ transform: translateX(17vw); opacity: 0;} 85%{ transform: translateX(16vw); opacity: 1;} 86%{ transform: translateX(15vw); opacity: 0;} 87%{ transform: translateX(14vw); opacity: 0;} 88%{ transform: translateX(13vw); opacity: 0;} 89%{ transform: translateX(12vw); opacity: 1;} 90%{ transform: translateX(11vw); opacity: 0;} 91%{ transform: translateX(10vw); opacity: 0;} 92%{ transform: translateX(9vw); opacity: 0;} 93%{ transform: translateX(8vw); opacity: 1;} 94%{ transform: translateX(7vw); opacity: 0;} 95%{ transform: translateX(6vw); opacity: 0;} 96%{ transform: translateX(5vw); opacity: 0;} 97%{ transform: translateX(4vw); opacity: 1;} 98%{ transform: translateX(3vw); opacity: 0;} 99%{ transform: translateX(2vw); opacity: 0;} 
    
    100% { transform: translateX(2vw); opacity: 0; }
}

@keyframes movLeft2 {
    0% { transform: translateX(2vw);opacity: 0; }
    50% { transform: translateX(50vw);opacity: 0; }

    51%{ transform: translateX(50vw); opacity: 1;} 52%{ transform: translateX(49vw); opacity: 0;} 53%{ transform: translateX(48vw); opacity: 0;} 54%{ transform: translateX(47vw); opacity: 0;} 55%{ transform: translateX(46vw); opacity: 1;} 56%{ transform: translateX(45vw); opacity: 0;} 57%{ transform: translateX(44vw); opacity: 0;} 58%{ transform: translateX(43vw); opacity: 0;} 59%{ transform: translateX(42vw); opacity: 1;} 60%{ transform: translateX(41vw); opacity: 0;} 61%{ transform: translateX(40vw); opacity: 0;} 62%{ transform: translateX(39vw); opacity: 0;} 63%{ transform: translateX(38vw); opacity: 1;} 64%{ transform: translateX(37vw); opacity: 0;} 65%{ transform: translateX(36vw); opacity: 0;} 66%{ transform: translateX(35vw); opacity: 0;} 67%{ transform: translateX(34vw); opacity: 1;} 68%{ transform: translateX(33vw); opacity: 0;} 69%{ transform: translateX(32vw); opacity: 0;} 70%{ transform: translateX(31vw); opacity: 0;} 71%{ transform: translateX(30vw); opacity: 1;} 72%{ transform: translateX(29vw); opacity: 0;} 73%{ transform: translateX(28vw); opacity: 0;} 74%{ transform: translateX(27vw); opacity: 0;} 75%{ transform: translateX(26vw); opacity: 1;} 76%{ transform: translateX(25vw); opacity: 0;} 77%{ transform: translateX(24vw); opacity: 0;} 78%{ transform: translateX(23vw); opacity: 0;} 79%{ transform: translateX(22vw); opacity: 1;} 80%{ transform: translateX(21vw); opacity: 0;} 81%{ transform: translateX(20vw); opacity: 0;} 82%{ transform: translateX(19vw); opacity: 0;} 83%{ transform: translateX(18vw); opacity: 1;} 84%{ transform: translateX(17vw); opacity: 0;} 85%{ transform: translateX(16vw); opacity: 0;} 86%{ transform: translateX(15vw); opacity: 0;} 87%{ transform: translateX(14vw); opacity: 1;} 88%{ transform: translateX(13vw); opacity: 0;} 89%{ transform: translateX(12vw); opacity: 0;} 90%{ transform: translateX(11vw); opacity: 0;} 91%{ transform: translateX(10vw); opacity: 1;} 92%{ transform: translateX(9vw); opacity: 0;} 93%{ transform: translateX(8vw); opacity: 0;} 94%{ transform: translateX(7vw); opacity: 0;} 95%{ transform: translateX(6vw); opacity: 1;} 96%{ transform: translateX(5vw); opacity: 0;} 97%{ transform: translateX(4vw); opacity: 0;} 98%{ transform: translateX(3vw); opacity: 0;} 99%{ transform: translateX(2vw); opacity: 1;} 
    
    100% { transform: translateX(2vw); opacity: 0; }
}

@keyframes turnSide {
    0% { transform: translateX(2vw); opacity: 1; }
    1% { transform: translateX(2vw); opacity: 0; }
    2% {transform: translateX(50vw); opacity: 0; }
    49% {transform: translateX(50vw); opacity: 0; }
    50% {transform: translateX(50vw); opacity: 1; }
    51% {transform: translateX(50vw); opacity: 0;}
    52% {transform: translateX(1vw); opacity: 0; }
    100% {transform: translateX(1vw); opacity: 0;}   
}

/* Controle das Bubbles */

@keyframes bubbleUp {
  0% {
    transform: scale(1) translateY(-10px);
  }
  25% {
    transform: scale(1.2) translateY(-20vh);
  }
  50% {
    transform: scale(1) translateY(-40vh);
  }
  75% {
    transform: scale(1.2) translateY(-60vh);
  }
  100% {
    transform: scale(1) translateY(-100vh);
  }
}

.bubbles {
  color: rgba(49, 118, 146,0.8);
}

.bubble {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 10px rgba(254,254,254,0.25);
  background: rgba(255, 255, 255, 0.25);
  position: absolute;
  bottom: 0px;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-family: "Rubik Moonrocks", cursive;
}

#bubbles:checked ~ .bubbles div:nth-child(1) {
  animation: bubbleUp 10s linear infinite;
  left: 6vw;
}
#bubbles:checked ~ .bubbles div:nth-child(2) {
  left: 12vw;
  animation: bubbleUp 12s linear infinite;
}
#bubbles:checked ~ .bubbles div:nth-child(3) {
  left: 20vw;
  animation: bubbleUp 8s linear infinite;
}
#bubbles:checked ~ .bubbles div:nth-child(4) {
  left: 26vw;
  animation: bubbleUp 11s linear infinite;
}
#bubbles:checked ~ .bubbles div:nth-child(5) {
  left: 34vw;
  animation: bubbleUp 13s linear infinite;
}
#bubbles:checked ~ .bubbles div:nth-child(6) {
  left: 56vw;
  animation: bubbleUp 9s linear infinite;
}
#bubbles:checked ~ .bubbles div:nth-child(7) {
  left: 69vw;
  animation: bubbleUp 14s linear infinite;
}
#bubbles:checked ~ .bubbles div:nth-child(8) {
  left: 77vw;
  animation: bubbleUp 19s linear infinite;
}
#bubbles:checked ~ .bubbles div:nth-child(9) {
  left: 88vw;
  animation: bubbleUp 7s linear infinite;
}
#bubbles:checked ~ .bubbles div:nth-child(10) {
  left: 96vw;
  animation: bubbleUp 10s linear infinite;
}